body{
font-family: Arial;
background:#f4f6f9;
text-align:center;
}

.container{
width:70%;
margin:auto;
background:white;
padding:20px;
box-shadow:0 0 10px gray;
}

input{
padding:10px;
margin:10px;
width:200px;
}

button{
padding:10px 20px;
background:#28a745;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#218838;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th,td{
padding:12px;
border:1px solid #ddd;
}

th{
background:#007bff;
color:white;
}

.tabs{
margin-bottom:20px;
}

.tabs button{
padding:10px 20px;
margin:5px;
background:#007bff;
color:white;
border:none;
cursor:pointer;
}

.tabs button:hover{
background:#0056b3;
}

ul{
list-style:none;
padding:0;
}

ul li{
margin:10px;
}