body{
    font-family: Arial;
    background:#f4f4f4;
    text-align:center;
}

.container{
    background:white;
    width:60%;
    margin:auto;
    padding:20px;
    box-shadow:0 0 10px gray;
}

input{
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
    background:green;
    color:white;
    border:none;
}

table{
    width:100%;
    margin-top:20px;
}

th,td{
    padding:10px;
    border:1px solid #ddd;
}